@media screen and (max-width:950px) {
 
    .sidebar .sidebar-container li span {
        display: none;
    }

    .sidebar .sidebar-container li i {
        font-size: 2rem;
        background-color: #26262b;
        padding: 0.8rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        width: 4rem;
        text-align: center;

    }

}