section {
    display: flex;
}

.content {
    display: flex;
}

section {
    height: 90vh;
    width: 100%;
    padding: 2rem;
}

ul {
    margin-top: 2rem;
}

ul li {
    list-style: none;
    color: white;
    line-height: 2rem;
    font-size: 1.2rem;
}

ul li a {
    color: #e7e7e7;
}